# This workflow generates a couple of artifacts that we use for testing

name: artifacts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Generate test artifact alpha
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: artifact_alpha
        path: 'model/src/main/resources/artifact_alpha'
    - name: Generate test artifact beta
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: artifact_beta
        path: 'model/src/main/resources/artifact_beta'
