# Runs the integration tests that hit the github API endpoints.
# Can be manually provoked, but also runs on the 1st of every month
# to cope with previous runs being pruned.

name: integration testing

on:
  workflow_dispatch:
  schedule:
      - cron: '0 8 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      env:
        BOWLBY_GH_AUTH_TOKEN: ${{ secrets.GH_API_AUTH_TOKEN }}
      run: mvn -B verify -pl test/integration -am -Dmctf.report.dir=latest

    - name: Save flow execution reports
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      id: artifact-upload-step
      if: success() || failure()
      with:
        name: flow_execution_reports
        path: |
          test/integration/target/mctf/e2e/latest
          test/integration/target/mctf/github/latest

    - name: Emit artifact links
      if: success() || failure()
      run: |
        echo " * [github isolation testing](https://bowlby.flowty.dev/self/artifacts/therealryan/bowlby/${{ steps.artifact-upload-step.outputs.artifact-id }}/github/latest/index.html)" >> $GITHUB_STEP_SUMMARY
        echo " * [integration testing](https://bowlby.flowty.dev/self/artifacts/therealryan/bowlby/${{ steps.artifact-upload-step.outputs.artifact-id }}/e2e/latest/index.html)" >> $GITHUB_STEP_SUMMARY
