# Run the main body of tests

name: testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml -Dmctf.report.dir=latest

    - name: Save flow execution reports
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      id: artifact-upload-step
      if: success() || failure()
      with:
        name: flow_execution_reports
        path: |
          app/target/mctf/latest
          test/integration/target/mctf/browser/latest

    - name: Emit artifact links
      if: success() || failure()
      run: |
        echo " * [bowlby isolation testing](https://bowlby.flowty.dev/self/artifacts/therealryan/bowlby/${{ steps.artifact-upload-step.outputs.artifact-id }}/app/target/mctf/latest/index.html)" >> $GITHUB_STEP_SUMMARY
        echo " * [browser isolation testing](https://bowlby.flowty.dev/self/artifacts/therealryan/bowlby/${{ steps.artifact-upload-step.outputs.artifact-id }}/test/target/mctf/browser/latest/index.html)" >> $GITHUB_STEP_SUMMARY
